<div class="header-container">
    <div class="wrapper">
        <header>
            <div class="hero-content">
                <h1>Purchase your 
                   <br> Perfect API</h1>
                   
            
                <ul class="nav-items-register">
                    <li>
                        <a mat-raised-button>Join Now</a>                        
                    </li>
                </ul>
                <ul class="nav-items-login">
                    <li>
                        <a mat-flat-button>Log in</a>
                    </li>
                </ul>
            </div>
            <div class="hero-image">
                <img src="../../assets/img/hero-image.png" width="700px" height="auto">

            </div>
            
        </header>
    </div>
</div>


<div class="grid-container">
    <div class="grid-item">
        <img src="../../assets/img/1.png" width="100px" height="auto">
        <h1>Sed ut perspiciatis</h1>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
        <a mat-flat-button>Learn More</a>
    </div>
    <div class="grid-item">
        <img src="../../assets/img/2.png" width="100px" height="auto">
        <h1>Sed ut perspiciatis</h1>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
        <a mat-flat-button>Learn More</a>
    </div>
    <div class="grid-item">
        <img src="../../assets/img/3.png" width="100px" height="auto">
        <h1>Sed ut perspiciatis</h1>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
        <a mat-flat-button>Learn More</a>
    </div>
    <div class="grid-item">
        <img src="../../assets/img/4.png" width="100px" height="auto">
        <h1>Sed ut perspiciatis</h1>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
        <a mat-flat-button>Learn More</a>
    </div>
  </div> 

<div class="hexagon">
    <a><img src="../../assets/img/How it works logo.png" width="700px" height="auto"></a>
</div>


