<mat-toolbar class="footer">
    <div class="spacer"></div>
    <span>
        <p>copyright<span>&copy;</span> 2021</p> 
        <p>Cateina Technologies Pvt Ltd.</p></span>
    <div class="spacer"></div>
    <div>
        
        <p><img src="../../assets/img/call.png" width="30px" height="auto"> contact: 6942069420</p>
        <p><img src="../../assets/img/mail.png" width="30px" height="auto"> Email: dontping@gmail.com</p>
    </div>
    <div class="spacer"></div>
    <div class="social-media">
        <p>Social Media</p>
        <a><img src="../../assets/img/twitter.png" width="30px" height="auto"> </a>
        <a><img src="../../assets/img/instagram.png" width="30px" height="auto"></a>
        <a><img src="../../assets/img/facebook.png" width="30px" height="auto"></a>

    </div>
    <div class="spacer"></div>
</mat-toolbar>